body{
    margin: 0;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.page-glow{
    position: absolute;
    inset: -40vw;
    opacity: 0;
    pointer-events: none;
    background: radial-gradient(
        circle,
        rgba(255,255,255,0.5) 0%,
        rgba(255,255,255,0.3) 20%,
        rgba(255,255,255,0.15) 40%,
        rgba(255,255,255,0.055) 60%,
        rgba(255,255,255,0.03) 70%,
        transparent 85%
    );
    transition: opacity 0.6s ease;
}
.btn{
    position: relative;
    padding: 18px 52px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    overflow: hidden;
    z-index: 2;
    transition: color 0.4s ease;
    -webkit-box-reflect: below 8px linear-gradient(transparent, rgba(255,255,255, 0.4));
}

.btn::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #fff;
    z-index: -1;
    transition: transform 0.45s ease;
    transform: translateX(-100%);
}

.btn::after{
    position: absolute;
    content: '';
    inset: -30vw;
    background: radial-gradient(
        circle,
        rgba(255,255,255,0.9) 0%,
        rgba(255,255,255,0.6) 22%,
        rgba(255,255,255,0.3) 40%,
        rgba(255,255,255,0.2) 55%,
        rgba(255,255,255,0.08) 65%,
        rgba(255,255,255,0.05) 75%,
        transparent 85%
    );
    opacity: 0;
    transition: opacity 0.45s ease;
    z-index: -2;
}
.btn:hover{
    color: #000;

}
.btn:hover::before{
    transform: translateX(0);
}
.btn:hover::after{
    opacity: 1;
}

.btn:hover ~ .page-glow{
    opacity: 1;
}
